/* TOP WIDGETS*/
#top-widgets {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.widget-box {
    background: #1f2933;
    flex: 1;
    height: 280px;
    border-radius: 12px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.widget-box h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.widget-box canvas {
    /* allow JS to control width for the scrollable chart */
    width: auto;
    height: 200px;
    display: block;
    flex-grow: 1;
}

.chart-scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 1;
}

.chart-scroll-container canvas {
    min-width: 100%;
    display: block;
}

#bottom-widget .large-box {
    background: #1f2933;
    height: 350px;
    border-radius: 12px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

#bottom-widget .large-box h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

#bottom-widget .large-box canvas {
    width: auto;
    height: 250px;
    display: block;
    flex-grow: 1;
}